*{
    margin: 0;
    padding: 0;
}



.cabecalho{
    background-color:#FDA403;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.cabecalho-imagem{
width: 100px;
}
body{
    .saira-stencil one-regular {
        font-family: "Saira Stencil One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#FDA403,#E8751A);
    color: white;
    display:flex;
    justify-content: center;
    padding: 24px;
}
.escola-div-conteudo{
    width: 35%;
}